.datetime-container {
    background-color: antiquewhite;
    border-radius: 15px;
    width: 215px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.day-of-week {
    margin: 35px 0 10px 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.date {
    margin: 10px 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
}

.time {
    margin-top: 10px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
}

hr {
    margin: 0 10px 0;
    border-color: #ccc;
}